@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('./variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container {
    background-image: url('/src/images/background-mobile.png');
    background-size: contain;
}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--color-neutral-8);
    font-weight: 700;
    position: relative;

    &::before {
        content: '';
        width: 70px;
        height: 4px;
        background-color: var(--color-primary-1);
        position: absolute;
        bottom: 0;
        border-radius: 15px;
    }

}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    transition: background-color 0.3s ease;
}

a.btn-default,
a.btn-outlined {
    text-decoration: none;
}

.btn-mobile {
    font-size: 1.5rem;
}

.btn-default {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);

    &:hover {
        background-color: var(--color-primary-2);
    }
}

.btn-outlined {
    background: transparent;
    color: var(--color-primary-1);
    border: 2px solid var(--color-primary-1);

    &:hover {
        background-color: var(--color-primary-1);
        color: var(--color-neutral-0);
    }
}

header {
    background-color: var(--color-neutral-1);
    padding: 12px 4%;
    position: sticky;
    top: 0;
    z-index: 1;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            width: 180px;
        }

        ul {
            display: none;
            list-style: none;
            flex-direction: column;
            gap: .5rem;
            width: 100%;
            position: absolute;
            top: 80px;
            background-color: var(--color-neutral-1);
            left: 0;
            padding: 1rem;

            &.show {
                display: flex;
            }

            li {
                text-align: center;

                a{
                    color: var(--color-neutral-8);
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        color: var(--color-primary-1);
                        border-bottom: 1px solid var(--color-primary-1);
                    }
                }
            }
        }

        .btn-default {
            display: none;
        }
    }
}

#home {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    min-height: calc(100vh - 96px);
    padding-top: clamp(0px, 5vw, 32px);
    padding: 32px 4%;

    .home-image {
        width: clamp(300px, 50%, 400px);
    }

    .home-title{
        color: var(--color-neutral-8);
        text-align: center;
        font-size: clamp(3rem, 5vw, 4.3rem);
        text-transform: uppercase;
        line-height: 1.2;
        max-width: 700px;

        span {
            color: var(--color-primary-1);
        }
    }

    .home-description{
        color: var(--color-neutral-9);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        max-width: 600px;
        }

    .home-actions {
        display: flex;
        gap: 12px;
        margin-top: 12px;
        }
}

#trending {
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-height: calc(100vh - 96px);

    .trending-cards {
        .trending-card {
            position: relative;

            img {
                width: clamp(300px, 5vw, 600px);

            }

            .trending-rate {
                background-color: var(--color-neutral-0);
                position: absolute;
                bottom: 70px;
                right: 30px;
                padding: 5px 10px;
                border-radius: 5px;

                i {
                    color: var(--color-secundary-1);
                }
            }   

            .trending-card-description {
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 1.3rem;
                font-weight: 600;
                color: var(--color-neutral-8);

                span {
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--color-neutral-7);
                }
            }
        }
    }
}

#about {
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-1);
    background-image: url('../images/about/bg-about.png');
    min-height: calc(100vh - 96px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 32px;

    .title {
        color: var(--color-neutral-0);

        &::before {
            background-color: var(--color-secundary-1);
        }
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .about-image {
            width: clamp(300px, 50vw, 500px);
        }

        .about-info{
            padding: 24px;
            border-radius: 20px;
            background-color: var(--color-primary-2);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            h3{
                color: var(--color-neutral-0);
                font-size: 1.8rem;
                margin-bottom: 4px;
            }

            span {
                color: var(--color-secundary-1);
            }

            p {
                color: var(--color-neutral-0);
                font-size: 1rem;
                
                span {
                    color: var(--color-secundary-1);
                    font-weight: 600;
                }
            }
        }
    }

}

#products {
    padding: 48px 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;

    .products-cards {
        display: flex;
        flex-direction: column;
        gap: 58px;

        .product-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--color-primary-1);
            background-image: url(../images/products/background.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 16px;
            border-radius: 50px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        img {
            width: 300px;
            position: relative;
            top: -70px;
            filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
        }

        .product-content {
            margin-top: -70px;

            h3 {
                color: var(--color-neutral-0);
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                flex-direction: column;

                span{
                    color: var(--color-secundary-1);
                    font-size: 1.2rem;
                }
            }
        }


    }
}


/* RESPONSIVE */
@media (min-width: 769px) {

    #container {
        background-image: url('../images/background-desktop.png');
        background-size: cover;
        background-position: start;
        background-repeat: no-repeat;
    }

    header {
        .navbar {
            .btn-mobile {
                display: none;
            }

            ul {
                display: flex;
                flex-direction: row;
                position: static;
                gap: 1rem;
                width: auto;
                padding: 0;
            }

            .btn-default {
                display: block;
            }
        }
    }

    #trending { 
        .trending-cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
        }
    }

    #products {
        min-height: 100vh;
        gap: 8rem;
    
        .products-cards {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;

            .product-card {
                img {
                    width: 250px;
                }
            }
        }
    }

}

footer {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-1);
    text-align: center;
    padding: 12px;

    p {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    #about {
        margin: 4%;
        justify-content: center;

        .about-content {
            flex-direction: row;
            align-items: center;
            gap: 48px;
        }

        .about-image {
            order: 1
        }

        .about-info:first-child {
            order: 2;
        }

        .about-info:last-child {
            order: 2;
        }
    }
}